<div class="layout layout--center layout--stretch-x p--2 gap--1">
  {% assign today = "now" | date: "%Y-%m-%d" %}
  {% assign found = false %}
  {% for day in days %}
    {% if day.date == today %}
      {% assign found = true %}
      <div class="text--center w--full">
        <div class="font--bold text--lg" style="line-height: 1;">{{ day.date | date: "%A" | upcase }}</div>

        <div class="text--xs label--underline mt--2" style="line-height: 1;">Breakfast</div>
        <div class="title title--small font--bold clamp--2" style="line-height: 1.1;">{{ day.breakfast_main }}</div>

        <div class="text--xs label--underline mt--2" style="line-height: 1;">Lunch</div>
        <div class="title title--small font--bold clamp--2" style="line-height: 1.1;">{{ day.lunch_main }}</div>
      </div>
    {% endif %}
  {% endfor %}
  {% unless found %}
    <div class="text--center w--full">
      <div class="title title--small font--bold">No menu today</div>
    </div>
  {% endunless %}
</div>

<div class="title_bar">
  <span class="title">{{ school_name }}</span>
  <span class="instance">Today</span>
</div>
